@media screen and (min-width: 992px) {
  .modulo-5 {
    padding: rem(100px) 0;
  }
}

.modulo-5 h1 {
  font-size: rem(40px);
  line-height: rem(40px);
  color: #fff;
  font-weight: 900;
  font-style: italic;
  margin: rem(25px) 0;
}
