.modulo-3.box-container .box-1,
.modulo-3.box-container .box-2,
.modulo-3.box-container .box-3 {
  height: 100%;
}

.modulo-3.box-container h1,
.modulo-3.box-container h2,
.modulo-3.box-container h3,
.modulo-3.box-container h4,
.modulo-3.box-container h5,
.modulo-3.box-container h6 {
  font-weight: 900;
  font-style: italic;
  display: inline-block;
}

.modulo-3.box-container h1 {
  font-size: rem(32px);
  line-height: rem(38px);
}

.modulo-3.box-container h2 {
  font-size: rem(20px);
  line-height: rem(24px);
  color: var(--primary--light);
}

.modulo-3.box-container .read-more {
  display: block;
  color: inherit;
  position: relative;
  padding: rem(18px) rem(20px) rem(18px) 0;
  text-transform: uppercase;
  color: #fff;
  font-size: rem(16px);
  font-weight: 900 !important;
  letter-spacing: 0.1em;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1000;
}

.modulo-3.box-container .read-more i {
  position: absolute;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.modulo-3.box-container .read-more.is_reading {
  color: var(--primary--light);
}

.modulo-3.box-container .read-more.is_reading i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.modulo-3.box-container .box-1 {
  background-color: var(--primary--light);
  color: #fff;
}

.modulo-3.box-container .box-1 h1,
.modulo-3.box-container .box-1 h2,
.modulo-3.box-container .box-1 h3,
.modulo-3.box-container .box-1 h4,
.modulo-3.box-container .box-1 h5,
.modulo-3.box-container .box-1 h6 {
  color: #fff;
}

.modulo-3.box-container .box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 992px) {
  .modulo-3.box-container .box-2,
  .modulo-3.box-container .box-3 {
    height: 0;
    padding: 0 !important;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
}
