.modulo-7 .carousel-inner,
.modulo-7 .carousel-item {
  height: rem(768px);
}

@media screen and (max-width: 992px) {
  .modulo-7 .carousel-inner,
  .modulo-7 .carousel-item {
    height: rem(450px);
  }
}

.modulo-7 .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
