.modulo_3.box-container h1,
.modulo_3.box-container h2,
.modulo_3.box-container h3,
.modulo_3.box-container h4,
.modulo_3.box-container h5,
.modulo_3.box-container h6 {
    font-weight: 900;
    font-style: italic;
    display: inline-block;
}
.modulo_3.box-container h1 {
    font-size: 2rem;
    line-height: 2.375rem;
}
.modulo_3.box-container h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #00a8aa;
}
.modulo_3.box-container .read-more {
    display: block;
    color: inherit;
    position: relative;
    padding: 1.125rem 1.25rem 1.125rem 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    font-weight: 900 !important;
    
    letter-spacing: 0.1em;
    width: 100%;
    border-left-color: hsla(0, 0%, 100%, 0.25);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    border-right-color: hsla(0, 0%, 100%, 0.25);
    border-top: 1px solid hsla(0, 0%, 100%, 0.25);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
}
.modulo_3.box-container .read-more i {
    position: absolute;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.modulo_3.box-container .read-more.is_reading {
    color: #00a8aa;
}
.modulo_3.box-container .read-more.is_reading i {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.modulo_3.box-container .box-1 {
    background-color: #00a8aa;
    color: #fff;
}
.modulo_3.box-container .box-1 h1,
.modulo_3.box-container .box-1 h2,
.modulo_3.box-container .box-1 h3,
.modulo_3.box-container .box-1 h4,
.modulo_3.box-container .box-1 h5,
.modulo_3.box-container .box-1 h6 {
    color: #fff;
}
.modulo_3.box-container .box-1 .cta {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.modulo_3.box-container .box-1 .cta:hover {
    background-color: #000 !important;
    border-color: #000 !important;
}
.modulo_3.box-container .box-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}