.modulo_2 img.immagine {
    width: 400px;
    margin: 0 auto;
}
.modulo_2 .box-img {
    padding: 100px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modulo_2 .box-img .image-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.modulo_2 .anim4 {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
}
.modulo_2 .anim3 {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
}
.modulo_2 h1,
.modulo_2 h2,
.modulo_2 h3,
.modulo_2 h4,
.modulo_2 h5,
.modulo_2 h6 {
    position: relative;
    
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 1.812rem !important;
}
.modulo_2 h1:after,
.modulo_2 h2:after,
.modulo_2 h3:after,
.modulo_2 h4:after,
.modulo_2 h5:after,
.modulo_2 h6:after {
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: 0;
    display: block;
}
.modulo_2.immagine_2 h1,
.modulo_2.immagine_2 h2,
.modulo_2.immagine_2 h3,
.modulo_2.immagine_2 h4,
.modulo_2.immagine_2 h5,
.modulo_2.immagine_2 h6,
.modulo_2.immagine h1,
.modulo_2.immagine h2,
.modulo_2.immagine h3,
.modulo_2.immagine h4,
.modulo_2.immagine h5,
.modulo_2.immagine h6 {
    color: #fff;
    position: relative;
}
.modulo_2.immagine_2 h1:after,
.modulo_2.immagine_2 h2:after,
.modulo_2.immagine_2 h3:after,
.modulo_2.immagine_2 h4:after,
.modulo_2.immagine_2 h5:after,
.modulo_2.immagine_2 h6:after,
.modulo_2.immagine h1:after,
.modulo_2.immagine h2:after,
.modulo_2.immagine h3:after,
.modulo_2.immagine h4:after,
.modulo_2.immagine h5:after,
.modulo_2.immagine h6:after {
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    background-color: #00a8aa;
    left: 0;
    bottom: 0;
    display: block;
}
.modulo_2.nero {
    background-color: #000;
}
.modulo_2.nero h1,
.modulo_2.nero h2,
.modulo_2.nero h3,
.modulo_2.nero h4,
.modulo_2.nero h5,
.modulo_2.nero h6,
.modulo_2.nero p {
    color: #fff !important;
}
.modulo_2.nero h1,
.modulo_2.nero h2,
.modulo_2.nero h3,
.modulo_2.nero h4,
.modulo_2.nero h5,
.modulo_2.nero h6 {
    position: relative;
}
.modulo_2.nero h1:after,
.modulo_2.nero h2:after,
.modulo_2.nero h3:after,
.modulo_2.nero h4:after,
.modulo_2.nero h5:after,
.modulo_2.nero h6:after {
    background-color: #00a8aa;
}
.modulo_2.turchese {
    background-color: #00a8aa;
}
.modulo_2.turchese h1,
.modulo_2.turchese h2,
.modulo_2.turchese h3,
.modulo_2.turchese h4,
.modulo_2.turchese h5,
.modulo_2.turchese h6,
.modulo_2.turchese p {
    color: #fff;
}
.modulo_2.turchese h1:after,
.modulo_2.turchese h2:after,
.modulo_2.turchese h3:after,
.modulo_2.turchese h4:after,
.modulo_2.turchese h5:after,
.modulo_2.turchese h6:after {
    background-color: #000;
}
.modulo_2.bianco {
    background-color: #fff;
}
.modulo_2.bianco h1,
.modulo_2.bianco h2,
.modulo_2.bianco h3,
.modulo_2.bianco h4,
.modulo_2.bianco h5,
.modulo_2.bianco h6,
.modulo_2.bianco p {
    color: #000;
}
.modulo_2.bianco h1:after,
.modulo_2.bianco h2:after,
.modulo_2.bianco h3:after,
.modulo_2.bianco h4:after,
.modulo_2.bianco h5:after,
.modulo_2.bianco h6:after {
    background-color: #00a8aa;
}
.modulo_2 p {
 
    font-weight: 400 !important;
    font-style: italic !important;
    font-size: 1.125rem !important;
}