.modulo_1 {
    background-color: #000;
}
.modulo_1.box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    position: relative;
    font-size: 1.125rem;
}
.modulo_1.box-container h1,
.modulo_1.box-container h2,
.modulo_1.box-container h3,
.modulo_1.box-container h4,
.modulo_1.box-container h5,
.modulo_1.box-container h6 {
    font-weight: 900;
    font-style: italic;
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 1.812rem;
    line-height: 1.2;
}
.modulo_1.box-container h1:after,
.modulo_1.box-container h2:after,
.modulo_1.box-container h3:after,
.modulo_1.box-container h4:after,
.modulo_1.box-container h5:after,
.modulo_1.box-container h6:after {
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: 0;
    display: block;
}
.modulo_1.box-container .box {
    padding: 2.25rem;
}
.modulo_1.box-container .box h1 {
    font-size: 1.812rem;
    letter-spacing: -0.02rem;
    color: #fff;
    font-weight: 900;
    font-style: italic;
}
.modulo_1.box-container .box p {
    font-size: 1.125rem;
}
.modulo_1.box-container .box a {
    color: #00a8aa;
}
.modulo_1.box-container .box > ol {
    list-style-type: none;
    padding: 0;
}
.modulo_1.box-container .box > ol > li {
    counter-increment: mega-step;
    position: relative;
}
.modulo_1.box-container .box > ol > li:before {
    content: counter(mega-step, decimal);
    display: block;
    
    font-weight: 900;
    font-style: italic;
    font-size: 10rem;
    color: #00a8aa;
    text-align: center;
}
.modulo_1.box-container .box.turchese {
    background-color: #00a8aa;
    background-color: rgba(0, 168, 170, 0.65);
    color: #fff;
}
.modulo_1.box-container .box.turchese h1,
.modulo_1.box-container .box.turchese h2,
.modulo_1.box-container .box.turchese h3,
.modulo_1.box-container .box.turchese h4,
.modulo_1.box-container .box.turchese h5,
.modulo_1.box-container .box.turchese h6 {
    color: #fff;
}
.modulo_1.box-container .box.turchese h1:after,
.modulo_1.box-container .box.turchese h2:after,
.modulo_1.box-container .box.turchese h3:after,
.modulo_1.box-container .box.turchese h4:after,
.modulo_1.box-container .box.turchese h5:after,
.modulo_1.box-container .box.turchese h6:after {
    background-color: #000;
}
.modulo_1.box-container .box.nero {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.modulo_1.box-container .box.nero .cta {
    background-color: #00a8aa;
    color: #fff;
}
.modulo_1.box-container .box.nero h1,
.modulo_1.box-container .box.nero h2,
.modulo_1.box-container .box.nero h3,
.modulo_1.box-container .box.nero h4,
.modulo_1.box-container .box.nero h5,
.modulo_1.box-container .box.nero h6 {
    color: #fff;
}
.modulo_1.box-container .box.nero h1:after,
.modulo_1.box-container .box.nero h2:after,
.modulo_1.box-container .box.nero h3:after,
.modulo_1.box-container .box.nero h4:after,
.modulo_1.box-container .box.nero h5:after,
.modulo_1.box-container .box.nero h6:after {
    background-color: #00a8aa;
}
.modulo_1.box-container .box.bianco {
    background-color: #fff;
    color: #000;
}
.modulo_1.box-container .box.bianco h1 {
    color: #000;
}
.modulo_1.box-container .box.bianco .cta {
    background-color: #00a8aa;
    color: #fff;
}
.modulo_1.box-container .box.bianco h1,
.modulo_1.box-container .box.bianco h2,
.modulo_1.box-container .box.bianco h3,
.modulo_1.box-container .box.bianco h4,
.modulo_1.box-container .box.bianco h5,
.modulo_1.box-container .box.bianco h6 {
    color: #000;
}
.modulo_1.box-container .box.bianco h1:after,
.modulo_1.box-container .box.bianco h2:after,
.modulo_1.box-container .box.bianco h3:after,
.modulo_1.box-container .box.bianco h4:after,
.modulo_1.box-container .box.bianco h5:after,
.modulo_1.box-container .box.bianco h6:after {
    background-color: #00a8aa;
}
