.modulo_7 .carousel-inner,
.modulo_7 .carousel-item {
    height: 48rem;
}
.modulo_7 .carousel-item {
    background-position: 50%;
}
.modulo_7 .carousel-item{
    background-size: cover;
    background-repeat: no-repeat;
}
