.modulo-10 {
    .box{
        
        

        .box-inner{
            min-height: 22.5rem;
            max-height: 22.5rem;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    
}
