.modulo-7 {
    padding: 0;
    .carousel-inner,
    .carousel-item {
        height: rem(768px);
        @media screen and(max-width:992px){
            height: rem(450px);
        }
    }
    .carousel-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: baseline;
        justify-content: center;
        max-width: 50%;
    }
}
