.modulo-12 {
    &.heroes {
        min-height: 32rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .heroes-container--outer {
            border: 1px solid #ffffff;
            overflow: hidden;
            .heroes-container--single {
                padding: 3rem 1.5rem;
                color: #ffffff;
                position: relative;
                &::before{
                    content: '';
                    top: -20px;
                    left: -20px;
                    right: -20px;
                    bottom: -20px;
                    position: absolute;
                    background-color: transparent;
                    background-image: url("../../images/header-mobile.png"); //ATTENZIONE: Il background è settato nel modulo-12.php
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    filter: blur(10px);
                }
                .body {
                    position: relative;
                }
                .title {
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
                
            }
        }
        .modal-content{
            background-color: transparent;
            border: 0;
            border-radius: 0;
            .modal-header{
                border: 0;
                display: none;
            }
        }
        
    }
    
}

