.button {
    background-color: $standard_white;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: rem(14px);
    transition: $button_transition;
    border: 0;
    .button--label,
    .button--icon {
        transition: $button_transition
    }
    .button--icon i {
        transition: $icon_transition;
        font-size: rem(14px);
    }
}

.button--icon {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    width: rem(48px);
    height: rem(48px);
    line-height: rem(24px);
    letter-spacing: 0;
    margin-bottom: 0;
    &:disabled,
    &.disabled {
        pointer-events: none;
        box-shadow: inset 1px 0px 0px 0px rgba(224, 226, 230, 1);
        i {
            color: $primary_lighter;
        }
    }
}

.button--brand {
    i {
        color: $primary_light;
    }
    &:hover {
        background-color: $primary_light;
        i {
            color: $standard_white;
        }
    }
    &:active {
        box-shadow: inset 0px 0px 10px 0px rgba(51, 57, 62, 0.2);
    }
}

.button--simple {
    background-color: transparent;
    transition: $icon_transition;
    i {
        color: $primary;
    }
    &:hover {
        background-color: $primary;
        box-shadow: inset 1px 0px 0px 0px rgba(0, 58, 112, 1);
        i {
            color: $standard_white;
        }
    }
    &:active {
        box-shadow: inset 0px 0px 10px 0px rgba(0, 58, 112, 0.2);
    }
}

.button--negative {
    border: 1px solid $standard_white;
    line-height: rem(18px);
    letter-spacing: rem(0.5px);
    height: rem(48px);
    width: auto;
    padding: rem(15px) rem(30px);
    color: $standard_white;
    font-weight: 900;
    &:hover {
        color: $primary;
    }
    &:disabled,
    &.disabled {
        pointer-events: none;
        border: 1px solid $primary_lighter;
        color: $primary_lighter;
    }
    &:active {
        box-shadow: inset 0px 0px 20px 0px rgba(0, 58, 112, 0.2);
    }
}

.button--primary {
    border: 1px solid $primary;
    color: $primary;
    &:hover {
        background-color: $primary;
        color: $standard_white;
    }
    &:active {
        box-shadow: inset 0px 0px 20px 0px rgba(0, 58, 112, 0.2);
    }
}

.button--primary__color-secondary {
    border: 1px solid $secondary;
    color: $secondary;
    &:hover {
        background-color: $secondary;
        color: $standard_white;
    }
    &:active {
        box-shadow: inset 0px 0px 20px 0px rgba(0, 58, 112, 0.3);
    }
}

.button--secondary {
    border: 1px solid $primary_light;
    color: $primary_light;
    &:hover {
        background-color: $primary_light;
        color: $standard_white;
    }
    &:active {
        box-shadow: inset 0px 0px 20px 0px rgba(0, 58, 112, 0.3);
    }
}

.button--with-icon {
    display: inline-flex;
    align-items: center;
    padding: 0;
    .button--label {
        font-weight: 900;
        line-height: rem(18px);
        letter-spacing: rem(0.5px);
        height: rem(48px);
        width: auto;
        padding: rem(15px) rem(30px);
    }
    .button--icon {
        font-weight: 900;
    }
    &:disabled,
    &.disabled {
        pointer-events: none;
        border: 0;
        color: $primary_lighter;
        .button--label,
        .button--icon {
            pointer-events: none;
            border: 0;
            color: $primary_lighter;
        }
        .button--icon {
            box-shadow: inset 1px 0px 0px 0px rgba(224, 226, 230, 1);
            i {
                color: $primary_lighter;
            }
        }
    }
    &:hover {
        .button--label {
            background: $standard_white;
            color: $primary;
        }
        .button--icon {
            background-color: $primary;
            i {
                color: $standard_white;
            }
        }
    }
    &:active {
        .button--label {
            box-shadow: none;
        }
        .button--icon {
            box-shadow: inset 0px 0px 10px 0px rgba(51, 57, 62, 0.2);
        }
    }
}

.button--rounded-icon {
    border: 2px solid $primary;
    border-radius: 55px;
    width: rem(50px);
    height: rem(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: $icon_transition;
    i {
        color: $primary;
    }
    &:disabled,
    &.disabled {
        pointer-events: none;
        border-color: $primary_superlight;
        i {
            color: $primary_superlight !important;
        }
    }
    &:not(:last-of-type) {
        margin-right: rem(10px);
    }
}

.button__attachment {
    width: 100%;
    span:first-of-type {
        width: 100%;
        text-align: left;
    }
}