


.radio {
    
  cursor: pointer;

  .radio__circle {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 1px solid $primary;
    border-radius: 50%;
    vertical-align: middle;
    transition: .3s;
    background-color: transparent;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .radio__circle {
    background: $primary;
    
  }

  input[type="radio"]:checked + .radio__circle:after {
    content: "";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: $primary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .radio__text {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(8px);
  }
}

.checkbox {
  display: block;
  margin-bottom: rem(20px);
  margin-top: rem(25px);

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  label {
    position: relative;
    cursor: pointer;
  }
  
  label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid $primary_light;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    transition: .3s;
  }
  
  
   input:checked + label:before {
    border: 2px solid $primary;
  }
  
  input:checked + label:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 6px;
    height: 14px;
    color: $primary;
  }

}
.form-group{
  height: rem(118px);
  margin-bottom: 0;
  .cta{
    text-transform: uppercase;
  }
  textarea{
    padding-top: rem(15px);
  }
  .form-control{
    
    background: $standard_white;
    
    border: 1px solid $primary_light;
    
    font-size: rem(16px);
    color: $standard;
    letter-spacing: 0;
    line-height: rem(22px);
    &:not(textarea){
      height: rem(52px);
    }
    border-radius: 0;
    
    transition: .3s;

    &::placeholder{
      color: $primary_lighter;
    }
    
    &:focus{
      border: 2px solid $primary;
      box-shadow: none;
    }
  }
  

  
}
