body {
    &:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        transition-delay: .1s;
        z-index: 1030;
    }
}

body.overlay {
    overflow: hidden;
    &:before {
        opacity: 1;
        visibility: visible;
        transition-delay: .3s;
    }
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: $color__link;
}