@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@font-face {
    font-family: 'Luiss Sans';
    src: url('assets/fonts/luiss_sans/LuissSans-Regular.eot');
    src: url('assets/fonts/luiss_sans/LuissSans-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_sans/luisssans-regular-webfont.woff2') format('woff2'), url('assets/fonts/luiss_sans/luisssans-regular-webfont.woff') format('woff'), url('assets/fonts/luiss_sans/LuissSans-Regular.ttf') format('truetype'), url('assets/fonts/luiss_sans/LuissSans-Regular.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Luiss Sans';
    src: url('assets/fonts/luiss_sans/LuissSans-Italic.eot');
    src: url('assets/fonts/luiss_sans/LuissSans-Italic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_sans/luisssans-italic-webfont.woff2') format('woff2'), url('assets/fonts/luiss_sans/luisssans-italic-webfont.woff') format('woff'), url('assets/fonts/luiss_sans/LuissSans-Italic.ttf') format('truetype'), url('assets/fonts/luiss_sans/LuissSans-Italic.svg#webfont') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Luiss Sans';
    src: url('assets/fonts/luiss_sans/LuissSans-Bold.eot');
    src: url('assets/fonts/luiss_sans/LuissSans-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_sans/luisssans-bold-webfont.woff2') format('woff2'), url('assets/fonts/luiss_sans/luisssans-bold-webfont.woff') format('woff'), url('assets/fonts/luiss_sans/LuissSans-Bold.ttf') format('truetype'), url('assets/fonts/luiss_sans/LuissSans-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Luiss Sans';
    src: url('assets/fonts/luiss_sans/LuissSans-BoldItalic.eot');
    src: url('assets/fonts/luiss_sans/LuissSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_sans/luisssans-bolditalic-webfont.woff2') format('woff2'), url('assets/fonts/luiss_sans/luisssans-bolditalic-webfont.woff') format('woff'), url('assets/fonts/luiss_sans/LuissSans-BoldItalic.ttf') format('truetype'), url('assets/fonts/luiss_sans/LuissSans-BoldItalic.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Luiss Sans';
    src: url('assets/fonts/luiss_sans/LuissSans-ThinSans.eot');
    src: url('assets/fonts/luiss_sans/LuissSans-ThinSans.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_sans/luisssans-thinsans-webfont.woff2') format('woff2'), url('assets/fonts/luiss_sans/luisssans-thinsans-webfont.woff') format('woff'), url('assets/fonts/luiss_sans/LuissSans-ThinSans.ttf') format('truetype'), url('assets/fonts/luiss_sans/LuissSans-ThinSans.svg#webfont') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Luiss Sans';
    src: url('assets/fonts/luiss_sans/LuissSans-ThinItalic.eot');
    src: url('assets/fonts/luiss_sans/LuissSans-ThinItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_sans/luisssans-thinitalic-webfont.woff2') format('woff2'), url('assets/fonts/luiss_sans/luisssans-thinitalic-webfont.woff') format('woff'), url('assets/fonts/luiss_sans/LuissSans-ThinItalic.ttf') format('truetype'), url('assets/fonts/luiss_sans/LuissSans-ThinItalic.svg#webfont') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Luiss Serif';
    src: url('assets/fonts/luiss_serif/LuissSerif-Bold.eot');
    src: url('assets/fonts/luiss_serif/LuissSerif-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_serif/luissserif-bold-webfont.woff2') format('woff2'), url('assets/fonts/luiss_serif/luissserif-bold-webfont.woff') format('woff'), url('assets/fonts/luiss_serif/LuissSerif-Bold.ttf') format('truetype'), url('assets/fonts/luiss_serif/LuissSerif-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Luiss Serif';
    src: url('assets/fonts/luiss_serif/LuissSerif-BoldItalic.eot');
    src: url('assets/fonts/luiss_serif/LuissSerif-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_serif/luissserif-bolditalic-webfont.woff2') format('woff2'), url('assets/fonts/luiss_serif/luissserif-bolditalic-webfont.woff') format('woff'), url('assets/fonts/luiss_serif/LuissSerif-BoldItalic.ttf') format('truetype'), url('assets/fonts/luiss_serif/LuissSerif-BoldItalic.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Luiss Serif';
    src: url('assets/fonts/luiss_serif/LuissSerif-Italic.eot');
    src: url('assets/fonts/luiss_serif/LuissSerif-Italic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_serif/luissserif-italic-webfont.woff2') format('woff2'), url('assets/fonts/luiss_serif/luissserif-italic-webfont.woff') format('woff'), url('assets/fonts/luiss_serif/LuissSerif-Italic.ttf') format('truetype'), url('assets/fonts/luiss_serif/LuissSerif-Italic.svg#webfont') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Luiss Serif';
    src: url('assets/fonts/luiss_serif/LuissSerif-Regular.eot');
    src: url('assets/fonts/luiss_serif/LuissSerif-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/luiss_serif/luissserif-regular-webfont.woff2') format('woff2'), url('assets/fonts/luiss_serif/luissserif-regular-webfont.woff') format('woff'), url('assets/fonts/luiss_serif/LuissSerif-Regular.ttf') format('truetype'), url('assets/fonts/luiss_serif/LuissSerif-Regular.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Font and typographic variables
$font__body: 'Roboto',
Helvetica,
sans-serif;
$font__heading: 'Roboto',
Helvetica,
sans-serif;
$font__fallbacks: (
/* Arabic */

ar: 'Tahoma, Arial, sans-serif',
ary: 'Tahoma, Arial, sans-serif',
azb: 'Tahoma, Arial, sans-serif',
ckb: 'Tahoma, Arial, sans-serif',
fa-IR: 'Tahoma, Arial, sans-serif',
haz: 'Tahoma, Arial, sans-serif',
ps: 'Tahoma, Arial, sans-serif',

/* Cyrillic */

be: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
bg-BG: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
kk: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
mk-MK: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
mn: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
ru-RU: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
sah: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
sr-RS: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
tt-RU: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',
uk: '"Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif',

/* Chinese (Hong Kong) */

zh-HK: '-apple-system, BlinkMacSystemFont, "PingFang HK", "Helvetica Neue", "Microsoft YaHei New", STHeiti Light, sans-serif',

/* Chinese (Taiwan) */

zh-TW: '-apple-system, BlinkMacSystemFont, "PingFang TC", "Helvetica Neue", "Microsoft YaHei New", STHeiti Light, sans-serif',

/* Chinese (China) */

zh-CN: '-apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft YaHei New", STHeiti Light, sans-serif',

/* Devanagari */

bn-BD: 'Arial, sans-serif',
hi-IN: 'Arial, sans-serif',
mr: 'Arial, sans-serif',
ne-NP: 'Arial, sans-serif',

/* Greek */

el: '"Helvetica Neue", Helvetica, Arial, sans-serif',

/* Gujarati */

gu: 'Arial, sans-serif',

/* Hebrew */

he-IL: '"Arial Hebrew", Arial, sans-serif',

/* Japanese */

ja: '-apple-system, BlinkMacSystemFont, "Hiragino Sans", Meiryo, "Helvetica Neue", sans-serif',

/* Korean */

ko-KR: '"Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif',

/* Thai */

th: '"Sukhumvit Set", "Helvetica Neue", helvetica, arial, sans-serif',

/* Vietnamese */

vi: '"Libre Franklin", sans-serif',
);
$font__code: Menlo,
monaco,
Consolas,
Lucida Console,
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__size_base: 16px;
$font__size-ratio: 1.125;
$font__size-xxs: 1em / (1.5 * $font__size-ratio);
$font__size-xs: 1em / (1.25 * $font__size-ratio);
$font__size-sm: 1em / (1 * $font__size-ratio);
$font__size-md: 1em * (1 * $font__size-ratio);
$font__size-lg: 1em * (1.5 * $font__size-ratio);
$font__size-xl: 1em * (2 * $font__size-ratio);
$font__size-xxl: 1em * (2.5 * $font__size-ratio);
$font__size-xxxl: 1em * (3 * $font__size-ratio);
$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double: 2 * $font__line-height-heading;