.modulo-7 {
    .carousel-inner,
    .carousel-item {
        height: rem(768px);
        @media screen and(max-width:992px){
            height: rem(450px);
        }
    }
    .carousel-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
