.modulo-6 {
    h1 {
        color: var(--standard);
    }
    .box {
        transition: $transition;
        overflow: hidden;

        .box-inner {
            height: 100%;
            transform: scale(1);
            transition: $transition;
            > a {
                color: transparent;
            }
            &:hover {
                transform: scale(1.03);
            }
            &.default {
                background-color: var(--primary);

                h2 {
                    color: var(--standard--white);
                }
                p {
                    color: var(--standard--white);
                }
            }
        }
    }
}
