.button {
    user-select: none;
    font-size: rem(14px);
    letter-spacing: rem(0.5px);
    text-align: center;
    line-height: rem(18px);
    border: 1px solid #003a70;
    padding: rem(18px) rem(32px);
    display: inline-block;
    font-weight: bold;
}

// es .button-standard, .button-standard--light
.button{
    @include button($button-type: 'solid', $button-radius: 0, $button-size: '', $prefix: "-");
}

// es .button-outline-standard, .button-outline-standard--light
.button-outline{
    @include button($button-type: 'outline', $button-radius: 0, $button-size: '', $prefix: "-");
}

