input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea,
select.form-control {
    background: #ffffff;
    border: 1px solid var(--primary--light);
    border-radius: 0;
    padding: 0 16px;
    height: rem(52px);
    transition: $transition;

    &:focus {
        outline: 0;
        box-shadow: none;
        border-color: var(--secondary);
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea {
    @include placeholder {
        position: relative;
        top: 0;
        left: 0;
        transition: all 300ms ease-in-out;
        color: rgba(var(--standard), 0.5) !important;
    }
}

input[type="radio"],
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-top: unset;
    + label {
        margin-bottom: 0.5rem;
        margin-left: rem(10px);
    }
}

/* The container must be positioned relative: */
.customize-select {
    position: relative;

    select {
        display: none; /*hide original SELECT element: */
    }

    .select-selected {
        background-color: var(--standard--white);
    }

    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: var(--primary--light) transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent var(--primary--light) transparent;
        top: 7px;
    }

    /* style the items (options), including the selected item: */
    .select-items div,
    .select-selected {
        color: $standard;
        padding: 8px 16px;
        border: 1px solid var(--primary--light);
        // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
    }
    .select-items div {
        border-top: none;
    }

    /* Style items (options): */
    .select-items {
        position: absolute;
        background-color: var(--standard--white);
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    /* Hide the items when the select box is closed: */
    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

// custom checkbox
.custom-checkbox-container {
    position: relative;
    display: flex;

    input[type="checkbox"] {
        position: relative;

        border: 1px solid var(--primary--light);
        border-radius: 4px;
        appearance: none;
        outline: 0;
        cursor: pointer;
        transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 2px;
            left: 7px;
            width: 8px;
            height: 14px;
            border-style: solid;
            border-color: var(--standard--white);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
        }
        &:checked {
            color: var(--standard--white);
            border-color: var(--primary--light);
            background: var(--primary--light);
            &::before {
                opacity: 1;
            }
            ~ label::before {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }

    label {
        position: relative;
        cursor: pointer;
        margin-left: rem(6px) !important;
        user-select: none;
    }
}

// custom radio
.custom-radio-container {
    $color1: $standard--white;
    $color2: $primary--light;

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        + label {
            margin-left: 0;
            &:before {
                content: "";
                background: $color1;
                border-radius: 100%;
                border: 1px solid darken($color1, 25%);
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                position: relative;
                top: -0.2em;
                margin-right: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            + label {
                &:before {
                    background-color: $color2;
                    box-shadow: inset 0 0 0 4px $color1;
                }
            }
        }
        &:focus {
            + label {
                &:before {
                    outline: none;
                    border-color: $color2;
                }
            }
        }
        &:disabled {
            + label {
                &:before {
                    box-shadow: inset 0 0 0 4px $color1;
                    border-color: darken($color1, 25%);
                    background: darken($color1, 25%);
                }
            }
        }
        + label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

// custom-switch
.custom-switch-container {
    input {
        display: none;
    }

    label {
        margin-left: 0 !important;
        cursor: pointer;
        padding-left: 35px;
        position: relative;
        display: block;
        font-size: 18px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        visibility: hidden !important;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -7.5px;
            box-sizing: border-box;
        }

        &:before {
            width: 30px;
            height: 15px;
            left: 0px;
            background: #fff;
            border: 1px solid var(--primary--light);
            border-radius: 15px;
            transition: $transition;
        }

        &:after {
            width: 15px;
            height: 15px;
            left: -1px;
            background: #bdbdbd;
            border-radius: 50%;
            transition: all 200ms ease-out;
        }
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
        &:before {
            background: var(--primary--light);
        }
        &:after {
            left: 16px;
            background: var(--primary--lighter);
        }
    }
}


/* clears the 'X' from Internet Explorer */

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}


input[type="text"],
input[type="search"] {
    background: $standard--white;
    border: 1px solid $primary--light;
    font-size: 1rem;
    color: $standard;
    letter-spacing: 0;
    line-height: rem(22px);
    border-radius: 0;
    transition: $transition;
}

/* clears the 'X' from Chrome */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}